@import url('https://fonts.googleapis.com/css2?family=Scada&display=swap');
.text{
	font-family: Scada;
	font-style: normal;
	font-weight: normal;
	font-size: 62px;
	line-height: 80px;
	color: #000000;
	margin-left:181px;
	margin-top:234px;
	float:left;
}
img{
	margin-top:30px;
	margin-left:223px;
	width: 509px;
	height: 448px;
}

